@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --base-white: #ffffff;
  --base-black: #000000;
  --base-blue: #0068b1;
  --base-orange: #ff5c35;
  --base-darkorange:#e04826;
  --base-lightorange:#ffebe6;
  --base-gray: #b6c7d6;
  --second-black: #213343;
  --second-blue: #213343;
  --second-gray: #516f90;
  --bg-yellow: #fef4ea;
  --bg-blue: #b7ecec;
  --bg-dark: #192733;
  --bg-lightgray: #f6f9fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.1);
  background-color: var(--base-white);
  padding: 20px 0;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__links img {
  width: 100px;
}

.nav__links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__links ul li a {
  text-decoration: none;
  color: var(--second-black);
  transition: all 0.3s ease-in-out;
}

.nav__links ul li:hover a {
  color: var(--base-blue);
  text-decoration: underline;
}

.hero__section {
  background-color: var(--bg-yellow);
  margin-top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__wrapper, .market__wrapper {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  gap: 20px;
}

.hero__wrapper .hero__image {
  width: 100%;
}

.hero__wrapper .hero__image img {
  width: 100%;
}

.hero__text, .market__text {
  display:  flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero__text h5 {
  font-size: 14px;
  color: var(--second-black);
  margin: 14px 0;
}

.hero__text h1 {
  font-size: 60px;
  color: var(--second-black);
}

.hero__text p, .market__text p {
  font-size: 16px;
  padding: 16px 0;
  color: var(--second-black);
  font-weight: 300;
}

.slider__container {
  background-color: var(--base-white);
  padding: 50px 0;
}

.slider__container p {
  text-align: center;
  color: var(--second-black);
  font-size: 16px;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__contents {
  margin: 0 20px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.slider__arrow {
  position: relative;
  padding: 25px 24px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.slider__arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.slider__arrow:hover {
  cursor: pointer;
  background-color: var(--base-gray);
}

.slider__arrow:hover span {
  color: var(--second-black);
}

.market__container {
  background-color: var(--bg-lightgray);
  padding: 50px 0;
}

.market__text h2 {
  font-size: 36px;
  color: var(--second-black);
}

.btn-orange {
  background-color: var(--base-orange);
  color: var(--base-white);
  border: 2px solid var(--base-orange);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-white {
  background-color: var(--base-white);
  color: var(--base-orange);
  border: 2px solid var(--base-orange);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.small-btn {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 14px;
}

.large-btn {
  cursor: pointer;
  padding: 16px 40px;
  font-size: 18px;
}

.btn-orange:hover {
  background-color: var(--base-darkorange);
  border-color: var(--base-darkorange);
}

.btn-white:hover {
  background-color: var(--base-lightorange);
}

.btn__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}